<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaVoltCar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaVoltCar.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="d-flex" id="wrapper">

        <header id="sidebar-wrapper">
            <nav class="navbar navbar-dark">
                <div class="container-fluid d-flex flex-column align-items-center">

                    <a class="navbar-brand mb-4 mt-2" asp-area="" asp-controller="Usuario" asp-action="Login">
                        <img src="~/img/logovoltcar.png" id="logo" alt="Logo VoltCar" />
                    </a>

                    <button class="navbar-toggler d-lg-none mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse w-100" id="navbarNav">
                        <ul class="navbar-nav w-100 text-center text-lg-start">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Cadastro">📝 Cadastro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-login-nav" asp-area="" asp-controller="Usuario" asp-action="Login">👤 Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div id="page-content-wrapper">
            <main role="main" class="flex-shrink-0">
                <div class="container-fluid p-0">
                    @RenderBody()
                </div>
            </main>

            <footer class="footer mt-auto py-3 bg-black text-white">
                <div class="container text-center">
                    <span>&copy; 2025 - CoreDev - Todos os direitos reservados.</span>
                    <a href="https://www.instagram.com/voltcar3/" target="_blank" class="ms-2">
                        <img src="~/img/icons8-instagram-30.png" alt="Instagram" style="width: 24px; vertical-align: middle;" />
                    </a>
                </div>
            </footer>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>