@model SistemaVoltCar.Models.Fornecedor

@{
    ViewData["Title"] = "Editar Fornecedor";
}

<link href="~/css/fornecedor_index.css" rel="stylesheet" />

<div class="container mt-5">
    <h1 class="text-center titulo-glitch mb-4">EDITAR <span class="texto-destaque">FORNECEDOR</span></h1>

    <div class="card-body" style="max-width: 600px; margin: 0 auto;">
        <form asp-action="EditarFornecedor" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="IdFornecedor" />

            <div class="mb-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CNPJ" class="form-label"></label>
                <input asp-for="CNPJ" class="form-control" />
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Telefone" class="form-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>

            <div class="d-grid gap-2 mt-4">
                <input type="submit" value="SALVAR ALTERAÇÕES" class="btn btn-primary btn-lg" />
                <a asp-action="Index" class="btn btn-success btn-lg">VOLTAR</a>
            </div>
        </form>
    </div>
</div>