@{
    ViewData["Title"] = "Home Page";
}

<link href="/css/home.css" rel="stylesheet" />

<div>
    <video autoplay muted loop class="video-fundo">
        <source src="/videos/Video_Editing_For_VoltCar_Ad.mp4" type="video/mp4" />
    </video>

    <div class="veiculos">
        <h1>O FUTURO É </h1> 
        <h1 id="eletrico">ELÉTRICO</h1>
        <h2>Descubra a performance e a tecnologia dos nossos veículos.</h2>
        <a asp-controller="Veiculo" asp-action="Index" class="btn">Ver estoque</a>
    </div>

    <div class="sobre">
        <div class="card">
            <img src="~/img/icons8-lightning-50.png" class="card-icon" />
            <h1>AUTONOMIA</h1>
            <p>Baterias de longa duração que permitem você ir mais longe com uma única carga.</p>
        </div>

        <div class="card">
            <img src="~/img/icons8-velocidade-50.png" class="card-icon" />
            <h1>PERFORMANCE</h1>
            <p>Torque instantâneo e aceleração de 0 a 100km/h em segundos. Sinta a potência.</p>
        </div>

        <div class="card">
            <img src="~/img/icons8-cuidado-com-a-terra-48.png" class="card-icon" />
            <h1>SUSTENTÁVEL</h1>
            <p>Zero emissão de carbono. Tecnologia limpa para um futuro mais verde.</p>
        </div>
    </div>

    <div class="fornecedores">
        <h1>NOSSOS PARCEIROS</h1>

        <div class="janela">
            <img src="~/img/icons8-serviço-50.png" alt="Parceiros" />

            <div class="conteudo-texto">
                <h2>Confiança e Inovação</h2>
                <p>Trabalhamos com as marcas mais renomadas do mercado global de veículos elétricos (BYD, Tesla, GWM) para garantir qualidade e segurança.</p>
            </div>

            <a asp-controller="Fornecedor" asp-action="Index" class="btn btn-parceiro">Conhecer Parceiros</a>
        </div>
    </div>
</div>
