@model SistemaVoltCar.Models.Veiculo;

@{
    ViewData["Title"] = "Editar Veículo";
}

<link href="~/css/veiculo.css" rel="stylesheet" />

<div class="container mt-5">
    <h1 class="text-center titulo-glitch mb-4">EDITAR <span class="texto-destaque">VEÍCULO</span></h1>

    <div class="card-body" style="max-width: 600px; margin: 0 auto;">
        <form asp-action="EditarVeiculo" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="IdVeiculo" />

            <div class="mb-3">
                <label asp-for="Modelo" class="form-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Marca" class="form-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Ano" class="form-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Valor" class="form-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <div class="d-grid gap-2 mt-4">
                <input type="submit" value="SALVAR ALTERAÇÕES" class="btn btn-primary btn-lg" />
                <a asp-action="Index" class="btn btn-success btn-lg">VOLTAR</a>
            </div>
        </form>
    </div>
</div>